git-checks=false

@bitrush-team:registry=https://gitlab.piercetechnology.co.uk/api/v4/projects/17/packages/npm/
//gitlab.piercetechnology.co.uk/api/v4/projects/17/packages/npm/:_authToken="glpat-y_JudGPGAQRbHoerWoZc"
