/* .thin-scrollbar::-webkit-scrollbar {
  width: 5px;
}

.thin-scrollbar::-webkit-scrollbar-track {
  background: #0000;
}

.thin-scrollbar::-webkit-scrollbar-thumb {
  background-color: #011e33;
  border-radius: 3px;
  border: 1px solid #045a99;
} */
